<div class="players">
  <select id="selector" class="form-select" aria-label="Default select example" [(ngModel)]="teamId"
    (change)="onTeamSelected()">
    <option [value]="null" style="display: none">Elige un Equipo</option>
    <ng-container *ngFor="let team of teams">
      <option [value]="team.id">{{ team.name }}</option>
    </ng-container>
  </select>

  <div class="player-list">
    <div class="row contenido">
      <div id="list-example" class="list-group" *ngIf="players.length > 0">
        <div class="list-group-item list-group-item-action item" *ngFor="let player of players" draggable="true"
          (dragstart)="onPlayerDragStart($event, player)" style="display: flex; align-items: center; cursor: grab">
          <div style="display: flex; align-items: center; flex-grow: 1">
            {{ player.name }}
          </div>
          <span class="position-label FALTA AGREGAR COLOR DINAMICO">
            {{ player.position }}
          </span>
          <!-- <img [src]="" alt=""> -->
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <p *ngIf="players.length === 0 && teamId !== null">
          No se encontraron jugadores para este equipo.
        </p>
        <p *ngIf="teamId === null">
          Selecciona un equipo para ver los jugadores.
        </p>
      </div>
    </div>
  </div>