.cuerpo {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
}
.con {
  height: 88dvh;
  padding-top: 10px;
  background-image: url("https://i.ibb.co/k26ZjyBH/background.jpg");
  background-position: center; /* Centra la imagen */
  background-repeat: repeat; /* Evita que la imagen se repita */
}

input {
  margin-bottom: 1%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin-top: 1%;
  margin-bottom: 1%;
}
