<div class="inicio-container">
  <div class="superior">
    <div class="izquierda">
      
      <img src="https://i.ibb.co/0Rmwhc2g/logo-1.png" alt="Imagen de alineación" class="imagen-alineacion">
    </div>
    <div class="derecha">
      <p>¿Te gustaría ser como Phil Jackson, Larry Brown o Pat Riley?
        En BSKT Team Builder podrás crear tus propios equipos, con las
        alineaciones que mas te gusten. Ponles el nombre que mas te gusten,
        descarga tu equipo y comparalo con tus amigos. ¡Sé el mejor entrenador
        con BSKT Team uldier!
      </p>
      <button (click)="irACrear()"> Crear tu equipo</button>
    </div>
  </div>
    <div class="galeria">
    <img src="assets/1-2-2.png" alt="Imagen 1" class=".galeria img">
    <img src="assets/1-3-1.png" alt="Imagen 2">
    <img src="assets/2-3.png" alt="Imagen 3">
    <img src="assets/3-2.png" alt="Imagen 4">
  </div>
</div>